<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Monthly Project 1 - EDA</title>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/vs2015.css' %}">
        <script src="{% static 'js/highlight.pack.js' %}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>  
    </head>

    <body>
        <div class="container">
            <!-- 사이드바 -->
            <div class="col-md-2">
                {% include 'sidebar.html' %}
            </div>
            
            <!-- 본문 -->
            <div class="col-md-9">
                {% include 'eda.html' %}
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        
        
        <!-- Include all compiled plugins (below), or include individual files as needed -->
         
    </body>
</html>