<nav class="nav flex-column nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#Package">Package</a>
        <a class="nav-link" href="#Dataset">Dataset</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#describe">Describe</a>
        <a class="nav-link" href="#corr">Correlation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#kda">KDA</a>
        <a class="nav-link" href="#objects">Objects</a>
        <a class="nav-link" href="#first">First</a>
        <a class="nav-link" href="#gold">Gold</a>
    </li>
</nav>
